    * {
        padding: 0%;
        margin: 0%;
        font-family: Roboto, sans-serif;
        box-sizing: border-box;
    }
    
    body {
        background: no-repeat url("../images/backcover.svg");
        background-position: right top;
        background-size: contain;
        background-size: 55%;
    }
    
    nav {
        margin: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-around;
        align-items: center;
    }
    
    nav img {
        width: 100px;
    }
    
    .nav-items {
        flex-grow: 0.4;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .signin-btn {
        padding: 10px 30px;
        border: none;
        border-radius: 30px;
        color: #fff;
        background-image: linear-gradient(to right, #965CF2, #FF8ADC);
    }
    
    .intro-section {
        margin-bottom: 10%;
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
    }
    
    .left-section {}
    
    .left-section {
        width: 40%;
    }
    
    .imgs-div {
        width: 60%;
    }
    
    .imgs-div>img:last-child {
        width: 100%;
    }
    
    .left-section {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    
    .left-section>h1 {
        /* text-align: center; */
        padding: 20px 0px;
        font-family: Roboto;
        font-size: 80px;
        font-weight: bold;
        color: rgb(101, 64, 174)
    }
    
    h4 {
        text-align: left;
        font-size: 15;
    }
    
    .imgs-div {
        position: relative;
    }
    
    .imgs-div>img:last-child {
        z-index: -1;
    }
    
    .imgs-div>img:first-child {
        position: absolute;
        top: 70%;
    }
    
    .vector-dot {
        position: absolute;
        right: 90%;
        top: 72%;
    }
    
    .learn-more-btn {
        margin-top: 20px;
        font-size: 30px;
        padding: 10px 20px;
        color: #fff;
        border: none;
        border-radius: 30px;
        background-image: linear-gradient(to right, #965CF2, #FF8ADC)
    }
    
    @media (max-width:768px) {
        body {
            background-size: 80%;
        }
        .intro-section {
            flex-direction: column-reverse;
        }
        .left-section,
        .imgs-div {
            width: 100%;
        }
        .vector-dot,
        .vector-img {
            display: none;
        }
    }
    
    @media (max-width:480px) {
        body {
            background: none;
        }
        .left-section {
            margin-top: 10px;
            padding: 10px;
            gap: 10px;
        }
    }